 
{% extends "layout.html" %}

{% block pageTitle %}
  Get Help To Retrain
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<div class="govuk-width-container">
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="task_list.html">Home: Get help to retrain</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="training_hub">Survey</a>
      </li>
  </ol>
</div>

{% endblock %}

{% block content %}


      <form action="/form-handler" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <span class="govuk-caption-xl">Question 1 of 7</span>
                <h1 class="govuk-heading-l">
                How important is retraining in helping you to find a better and more secure job?
                </h1>
              </legend>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="" name="" type="radio" value="very-important">
                  <label class="govuk-label govuk-radios__label" for="">
                    Very important
                  </label> </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="" name="" type="radio" value="important">
                  <label class="govuk-label govuk-radios__label" for="">
                    Important
                  </label> </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="" name="" type="radio" value="relatively-important">
                  <label class="govuk-label govuk-radios__label" for="">
                    Relatively important
                  </label> </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="" name="" type="radio" value="not-very-importance">
                  <label class="govuk-label govuk-radios__label" for="">
                    Not very important
                  </label> </div>
     

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="" name="" type="radio" value="not-important-at-all">
                  <label class="govuk-label govuk-radios__label" for="">
                    Not important at all
                  </label> </div>
              </div>

            </fieldset>
          </div>

      <div class="govuk-form-group">

            <label class="govuk-label" for="more-detail">
             Can you tell us more about your answer
            </label>
          <div class="govuk-character-count" data-module="character-count" data-maxlength="1500">
            <textarea class="govuk-textarea js-character-count " id="label-as-page-heading" name="label-as-page-heading" rows="5"></textarea>
          </div>

          <span id="label-as-page-heading-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
          You can enter up to 1500 characters
          </span>
      </div>


        </form>

          
          <a href="survey_question2"><button type="submit" class="govuk-button">
            Continue
          </button></a>


</div>




</div>



      </div>

    </div>
  </div>

     

{% endblock %}
