 
{% extends "layout.html" %}

{% block pageTitle %}
  Get Help To Retrain
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<div class="govuk-width-container">
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="task_list.html">Home: Get help to retrain</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="training_hub">Survey</a>
      </li>
  </ol>
</div>

{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">
                Is there anything else you'd like to tell us about this service?
                </h1>



      <div class="govuk-form-group">

            <label class="govuk-label" for="more-detail">
             Please enter your feedback below
            </label>
          <div class="govuk-character-count" data-module="character-count" data-maxlength="1500">
            <textarea class="govuk-textarea js-character-count " id="label-as-page-heading" name="label-as-page-heading" rows="5"></textarea>
          </div>

          <span id="label-as-page-heading-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
          You can enter up to 1500 characters
          </span>
      </div>
      
          </div>

          <a href="task_list"><button type="submit" class="govuk-button">
            Submit survey
          </button></a>




</div>
</div>

      </div>

    </div>
  </div>

     

{% endblock %}
