
{% extends "layout.html" %}

{% block pageTitle %}
  Get Help To Retrain
{% endblock %}

{% block beforeContent %}
 {{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}






{% endblock %}

{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Before you start</h1>

                <p class="govuk-body-l">This service is designed to help if:</p>
        <ul class="govuk-list govuk-list--bullet">

        <li>you're employed</li>

        <li>you don't have a degree</li>

        <li>you’re based in the Manchester area</li>

        <li>you're aged 24 or over</li>

        <li>and you're earning below £35,000 a year</li>

      </ul>



             <a href="location_eligibility"><button type="submit" class="govuk-button">
            Continue
          </button></a>

<p class="govuk-body">If these don’t all apply to you, try visiting the <a href="#" class="govuk-body-m">National Careers Service</a> or your local <a href="#" class="govuk-body-m">Jobcentre Plus</a> instead.</p>





      </div>
    </div>

  </main>
</div>

{% endblock %}
