<div class="govuk-grid-column-one-third">
  <div style="border-top:10px solid #1d70b8;" class="govuk-related-items govuk-!-margin-bottom-4">
  </div>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Speak to an adviser</h2>
  <p class="govuk-body govuk-!-margin-bottom-2">Get advice on finding work and training.</p>

      <p class="govuk-!-margin-bottom-0">
        Call <a href="tel:+448000510459" class="govuk-!-padding-left-1">0800 051 0459</a>
      </p>
<p class="govuk-body-s" style="color: #6f777b">Monday to Friday, 9am to 5pm<p>




</div>
