
{% extends "layout.html" %}

{% block pageTitle %}
Get Help To Retrain
{% endblock %}

{% block beforeContent %}



{{ govukPhaseBanner({
  tag: {
  text: "beta"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">

    <li class="govuk-breadcrumbs__list-item">
     <a class="govuk-breadcrumbs__link" href="task_list.html">Home: Get help to retrain</a>
   </li>
  <li class="govuk-breadcrumbs__list-item" aria-current="page">
    Training choices
  </li>
</ol>
</div>




{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Check your maths and English skills</h1>


    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

           <p class=govuk-body>Employers often say they want candidates with maths and English skills – and getting a qualification is one way to show you have those skills. Adult learning is taught in a relaxed and positive way, so there’s no need to be worried about going back into training.</p>

           <p class=govuk-body>Lots of different courses are taught in your area that offer flexible learning and part-time study to fit around your life. Many courses are free.</p>

          <p class=govuk-hint>Tick all boxes that apply to you.</p>



        </legend>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item govuk-!-margin-bottom-3">
            <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste-1">
              I need to improve my English skills
            </label> </div>

            <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What will you learn on an English skills course?
              </span>
            </summary>
            <div class="govuk-details__text">
              On an English adult learning course you'll improve your confidence with reading and writing. This will help you with everyday tasks in work like looking up information, answering questions and selecting the right words to communicate clearly.
            </div>
          </details>

            <div class="govuk-checkboxes__item govuk-!-margin-bottom-3">
              <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                I need to improve my maths skills
              </label> </div>

              <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What will you learn on a maths skills course?
              </span>
            </summary>
            <div class="govuk-details__text">
              On an maths adult learning course you'll improve your confidence with numbers. This will help you with everyday tasks in work like using dates, reading timetables and measuring things.
            </div>
          </details>
                        </div>
                      </fieldset>
                    </div>





<p class="govuk-body">If none of these apply to you, just leave the boxes blank and select continue.</p>


                    <a href="apprenticeship_question"><button type="submit" class="govuk-button">
                      Continue
                    </button></a>




                  </div>

      {% include "main/release5_e2e_v3/contact_us.html"%}
      {% include "main/release5_e2e_v3/sign_in_panel.html"%}


                </div>






                {% endblock %}
