
{% extends "layout.html" %}

{% block pageTitle %}
Get Help To Retrain
{% endblock %}

{% block beforeContent %}



{{ govukPhaseBanner({
  tag: {
  text: "beta"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}


<div class="govuk-width-container">

<a href="#" class="govuk-back-link">Back</a>


  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">Information sources</h1>
      

      <p class="govuk-body">The Get help to retrain service takes information from several different sources. This page describes what information is used in the service and where this information comes from.</p>

      <p class="govuk-body">We're constantly working to improve the information used in this service and your feedback is important to us. If you have any feedback about the information the service uses, please send an email to <a href="">ghtr.support@digital.education.gov.uk</a>.</p>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<h2 class="govuk-heading-m">Job profiles</h2>

<table class="govuk-table">
  
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-half">How is this information used?</th>
      <td class="govuk-table__cell">

<p class="govuk-body">The service:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>matches a job title that you put into the service to a list of job titles that we have information about</li>
        <li>describes what skills and knowledge you need to do a particular job</li>
        <li>explains various ways you can get into a job that interests you</li>
        <li>provides job descriptions for different types of job including what kinds of tasks people with that job do</li>
      </ul>



      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Source of this information</th>
      <td class="govuk-table__cell"><p class="govuk-body">Much of the information used by this service comes from the National Careers Service. The National Careers Service uses information from O*NET OnLine and LMI for All, as well as from its own subject matter experts.</p>

     <p class="govuk-body">O*NET OnLine is sponsored by the U.S. Department of Labor, Employment and Training Administration (USDOL/ETA). Information from O*NET OnLine is used under Creative Commons license <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>. O*NET® is a trademark of USDOL/ETA. The National Careers Service has modified all or some of the O*NET information. USDOL/ETA has not approved, endorsed, or tested these modifications.</p>


      </td>
    </tr>

  </tbody>
</table>


<h2 class="govuk-heading-m">Recent job growth</h2>

<table class="govuk-table">
  
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-half">How is this information used?</th>
      <td class="govuk-table__cell">The service tells you whether the number of people doing a particular job is growing or not.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Source of this information</th>
      <td class="govuk-table__cell">This information is based on annual population survey data from the Office of National Statistics.</td>
    </tr>

  </tbody>
</table>



<h2 class="govuk-heading-m">Apprenticeship vacancies in your area</h2>

<table class="govuk-table">
  
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-half">How is this information used?</th>
      <td class="govuk-table__cell">The service suggests apprenticeship vacancies in your area for the type of job you are interested in.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Source of this information</th>
      <td class="govuk-table__cell">This information comes from the Find an apprenticeship service, built and run by the Education and Skills Funding Agency.</td>
    </tr>

  </tbody>
</table>


      <h2 class="govuk-heading-m">Job vacancies in your area</h2>

<table class="govuk-table">
  
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-half">How is this information used?</th>
      <td class="govuk-table__cell">The service suggests job vacancies in your local area that may be suitable for you based on the skills you have.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Source of this information</th>
      <td class="govuk-table__cell">Information about job vacancies comes from the Find a job service run by Adhunter Ltd trading as Adzuna on behalf of the Department for Work and Pensions (DWP).</td>
    </tr>

  </tbody>
</table>


      

    </div>
    {% include "main/releaseX_e2e_v3/contact_us.html"%}
    {% include "main/releaseX_e2e_v3/create_account_panel.html"%}

  </div>
</div>



{% endblock %}
