<div class="govuk-grid-column-one-third">
  <div style="border-top:10px solid #1d70b8;" class="govuk-related-items govuk-!-margin-bottom-4">
  </div>
  <h2 class="govuk-heading-m">Login to your account</h2>
  <ul class="govuk-list">
    <li class="govuk-!-padding-bottom-1">
<p class="govuk-body">If you’ve already set up an account, enter your email address. We’ll send you a link you can use to log back in.</p>

<div class="govuk-form-group">
      <label class="govuk-label" for="address-county">
        Email
      </label>
      <input class="govuk-input" id="address-county" name="address-county" type="text" style="width: 100%">
    </div>

        <a href="link_sent" ><button type="submit" class="govuk-button govuk-!-margin-top-1  govuk-!-margin-bottom-1" style="width: 100%">
          Send a link
        </button></a>


    </li>
  </ul>
</div>
