 
{% extends "layout.html" %}

{% block pageTitle %}
  Get Help To Retrain
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<div class="govuk-width-container">
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="task_list.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="training_hub">You have a degree</a>
      </li>
  </ol>
</div>

{% endblock %}

{% block content %}

   <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">Get more help if you have a degree</h1>
        <p class="govuk-body-m">This service is designed to help people who do not have a degree explore retraining option that are right for them.</p>

        <p class="govuk-body">You’ll probably find it more useful to use the <a href="https://nationalcareersservice.direct.gov.uk">National Careers Service</a> to check your skills, explore careers and get help finding a job.</p>

        <a href="#"><button type="submit" class="govuk-button">
            Continue
        </button></a>



      </div>
</div>
</div>

</div>

     

{% endblock %}
