
{% extends "layout.html" %}

{% block pageTitle %}
Get Help To Retrain
{% endblock %}

{% block beforeContent %}



{{ govukPhaseBanner({
  tag: {
  text: "beta"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<a href="job_details_retraining_admin_assistant" class="govuk-back-link">Back</a>




{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Building your action plan</span>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">English for speakers of other languages
</h1>


    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

          <p class=govuk-body>ESOL courses are for people who don’t have English as their main language. Completing an ESOL course shows employers you have good language skills and can use English in the workplace.</p>


          <p class=govuk-hint>Select the course you need. You’ll get a personal action plan based on what you choose.</p>



        </legend>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item govuk-!-margin-bottom-3">
            <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste-1">
              English for speakers of other languages (ESOL)
            </label> </div>

            <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What will you learn on an ESOL course?
              </span>
            </summary>
            <div class="govuk-details__text">
ESOL courses are for people who don’t have English as their main language. You’ll improve your speaking, writing, listening and reading skills, which could make you more employable.
            </div>
          </details>


            </div>
                      </fieldset>
                    </div>





<p class="govuk-body">If this does not apply to you, leave the box blank and select continue.</p>


                    <a href="Q2_IT_skills_training"><button type="submit" class="govuk-button">
                      Continue
                    </button></a>




                  </div>

      {% include "main/releaseX_e2e_v5/contact_us.html"%}
        {% include "main/releaseX_e2e_v5/create_account_panel.html"%}


                </div>






                {% endblock %}
