
{% extends "layout.html" %}

{% block pageTitle %}
Get Help To Retrain
{% endblock %}

{% block pageScripts %}

<script type="text/javascript">
function showFunction() {
  var x = document.getElementById("hidDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

{% endblock %}



{% block beforeContent %}



{{ govukPhaseBanner({
  tag: {
  text: "beta"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">

    <li class="govuk-breadcrumbs__list-item">
     <a class="govuk-breadcrumbs__link" href="task_list.html">Home: Get help to retrain</a>
   </li>
   <li class="govuk-breadcrumbs__list-item">
     <a class="govuk-breadcrumbs__link" href="task_list.html">Action plan</a>
   </li>
   <li class="govuk-breadcrumbs__list-item" aria-current="page">
    Edit your training choices
  </li>
</ol>
</div>




{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Edit your training choices</h1>


    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

         <p class=govuk-body-l>Add or remove the kind of training you need.</p>

         <p class=govuk-hint>Tick or untick the boxes to add or remove these from your action plan.</p>



       </legend>
       <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item govuk-!-margin-bottom-2">
          <input onclick="showFunction()" class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste-1">
            English course
          </label>


        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What will you learn on an English skills course?
            </span>
          </summary>
          <div class="govuk-details__text">
            On an adult learning English course you'll improve your confidence with reading and writing. Completing this course shows employers that you can communicate clearly at work in all kinds of situations.
          </div>
        </details>



<div id="hidDIV" style="display: none ;border-top: solid; border-top-width: 2px; border-top-color: #b1b4b6; border-bottom: solid; border-bottom-width: 2px; border-bottom-color: #b1b4b6;">
     <div class="govuk-checkboxes__item govuk-!-margin-bottom-2 govuk-!-margin-top-5">
          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
            English for speakers of other languages (ESOL) course
          </label> </div>

        <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What will you learn on an ESOL course?
            </span>
          </summary>
          <div class="govuk-details__text">
            ESOL courses are for people who don’t have English as their main language. You’ll improve your speaking, writing, listening and reading skills, which could make you more employable.
          </div>
        </details>

</div>

        <div class="govuk-checkboxes__item govuk-!-margin-bottom-2 govuk-!-margin-top-5">
          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
            Maths course
          </label> </div>


          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What will you learn on a maths skills course?
              </span>
            </summary>
            <div class="govuk-details__text">
              On an adult learning maths course you'll improve your confidence with numbers. Completing this course shows employers that you can use maths at work.
            </div>
          </details>



          <div class="govuk-checkboxes__item  govuk-!-margin-bottom-2">
            <input class="govuk-checkboxes__input" id="comp" name="comp" type="checkbox" value="comp">
            <label class="govuk-label govuk-checkboxes__label" for="comp">
              Digital skills course
            </label> </div>


            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What will you learn on a computer skills course?
                </span>
              </summary>
              <div class="govuk-details__text">
              On a computer skills course you'll learn to confidently use a computer in the workplace. Completing this course shows employers you’re able to use a computer for a range of tasks at work.
              </div>
            </details>


          </div>
        </fieldset>
      </div>







      <form action="action_plan" id="actionplan-form">
        <input type="hidden" name="task-2" value="complete">
        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>


    </div>

    {% include "main/releaseX_e2e_v5/contact_us.html"%}
    {% include "main/releaseX_e2e_v5/create_account_panel.html"%}


  </div>






  {% endblock %}
