
{% extends "layout.html" %}

{% block pageTitle %}
  Get Help To Retrain
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}






{% endblock %}

{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Get help to retrain</h1>
        <p class="govuk-body">Use this service to find out what you need to do to retrain for another job.</p>
        <p class="govuk-body">You’ll get the most out of this service if both of the following apply to you:</p>
        <ul class="govuk-list govuk-list--bullet">

        <li>you don’t have a degree</li>

        <li>you’re based in the Greater Manchester area</li>

        
      </ul>


        <a href="v1/task_list" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
          Start now
        </a>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">To get advice and support while you use this service, you’ll need to provide:</p>

        <ul class="govuk-list govuk-list--bullet">
        <li>your postcode</li>

        <li>your date of birth</li>

        <li>your email</li>
      </ul>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">After you’ve used this service, you’ll be able to do the following:</p>

      <ul class="govuk-list govuk-list--bullet">

        <li>retrain and search for jobs to apply to</li>

        <li>take part in research by email, but you can opt out</li>


      </ul>

      </div>

  <div class="govuk-grid-column-one-third">
    <div style="border-top:10px solid #005ea5;" class="govuk-related-items govuk-!-margin-bottom-4"></div>
    <h1 class="govuk-heading-m">Want to speak with an adviser?</h1>
    <ul class="govuk-list">
      <li>
        <p>
          Call <a href="tel:+442079476330" class="govuk-!-padding-left-1">020 7947 6330</a>
        </p>

<div style="border-top:10px solid #005ea5;" class="govuk-related-items govuk-!-margin-bottom-4"></div>
    <h1 class="govuk-heading-m">If you have a code to resume a previous visit, enter it here</h1>

<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    Enter your reference
  </label>
  <input class="govuk-input" id="event-name" name="event-name" type="text">

</div>
<button type="submit" class="govuk-button">
  Continue
</button>

      </li>
    </ul>

</div>
    </div>

  </main>
</div>

{% endblock %}
