{% extends "layout.html" %}

{% block pageTitle %}
Get Help To Retrain
{% endblock %}

{% block beforeContent %}



{{ govukPhaseBanner({
  tag: {
  text: "beta"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-width-container">

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="task_list.html">Home: Get help to retrain</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        Action plan
      </li>
    </ol>
  </div>

  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">Your personal action plan
      </h1>

      <p class="govuk-body-l">Your plan of action for finding a new, more secure type of work.</p>


      <div style="border-top: solid; border-top-width: 7px; border-top-color: #1d70b8; border-bottom: solid; border-bottom-width: 1px; border-bottom-color: #b1b4b6">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-6 govuk-!-margin-top-4">Here’s what you’ve done so far:
        </h2>

        <div class="govuk-!-padding-top-1" style="float: right;"><a class="govuk-link govuk-body" href="#*">Change target type of work</a></div>

        <h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-4">Your target type of work</h3>


        <p class="govuk-body govuk-!-margin-bottom-2">You’ve chosen to target this type of work.</p>


        <h3 class="govuk-heading-s govuk-!-margin-bottom-4"><a href="#!" style="text-decoration:none">Admin assistant</a></h3>


      </div>

      <div style="border-bottom: solid; border-bottom-width: 7px; border-bottom-color: #1d70b8">


        <div class="govuk-!-padding-top-1" style="float: right;"><a class="govuk-link govuk-body" href="#*">Edit your skills</a></div>

        <h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-4">Your skills</h3>


        <p class="govuk-body">You added skills based on jobs you have already done.</p>

        <p class="govuk-body govuk-!-margin-bottom-6">
Edit your skills to see different ideas for types of work you can do.</p>


<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-0"><a href="#!" style="text-decoration:none">View your selected skills</a></h3>
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

        <ul class="govuk-list govuk-list--bullet">
          


<li>customer service skills</li>
<li>the ability to work well with others</li>
<li>to be thorough and pay attention to detail</li>
<li>sensitivity and understanding</li>
<li>patience and the ability to remain calm in stressful situations</li>
<li>the ability to accept criticism and work well under pressure</li>
<li>excellent verbal communication skills</li>
<li>active listening skills</li>
<li>to be able to use a computer and the main software packages competently</li>
</ul>

    </div>
  </div>
</div>



      </div>







      <h2 class="govuk-heading-m govuk-!-margin-bottom-6 govuk-!-margin-top-4">Here’s what you need to do next:
      </h2>

      <div class="govuk-!-padding-top-1" style="float: right;"><a class="govuk-link govuk-body" href="training_preferences">Edit your training choices</a></div>

      <h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-4">Your training choices</h3>

      <p class="govuk-body">You chose to look for some training. Employers value these skills so this can improve your chances of getting a job.</p>


      <div style="float: right;"><a class="govuk-!-padding-top-3" href="maths_courses_near_me">
        <button style="width: 210px" type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">
          Find a maths course
        </button></a>
      </div>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-7 govuk-!-margin-top-4">Maths course</h3>



      <div style="float: right;"><a class="govuk-!-padding-top-3" href="english_courses_near_me">
        <button style="width: 210px" type="submit" class="govuk-button govuk-button--secondary">
          Find an English course
        </button></a>
      </div>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-7 govuk-!-margin-top-4 govuk-!-padding-top-1">English course</h3>

           <div style="float: right;"><a class="govuk-!-padding-top-3 govuk-!-margin-bottom-0" href="https://www.learnmyway.com/">
        <button style="width: 210px" type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">
          Go to learning provider website
        </button></a>
      </div>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-7 govuk-!-margin-top-4 govuk-!-padding-top-1">Computer skills training</h3>



      <p class="govuk-body govuk-!-margin-top-8">You can find other types of training by searching on Find a course, run by the National Careers Service. This button will take you to another government service.</p>


      <div style="float: right;"><a class="govuk-!-padding-top-3 govuk-!-margin-bottom-0" href="https://www.learnmyway.com/">
        <button style="width: 210px" type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">
          Find other courses
        </button></a>
      </div>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-7 govuk-!-margin-top-4 govuk-!-padding-top-1">Search for other courses</h3>


      <p class="govuk-body">Remember, you may be able to get funding to support your training, including help with things such as travel and childcare expenses.</p>

<p class="govuk-body govuk-!-margin-bottom-6"><a href="funding_info">Find out about funding</a></p>






   <div class="govuk-!-margin-top-0 govuk-!-margin-bottom-5" style="border-bottom: solid; border-bottom-width: 1px; border-bottom-color: #b1b4b6">

     </div>




      <div class="govuk-!-padding-top-1" style="float: right;"><a class="govuk-link govuk-body" href="job_hunting_preferences">Edit your advice choices</a></div>



      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Get job hunting advice</h3>



      <p class="govuk-body">You chose to improve your job hunting skills. Getting this kind of advice can improve your chances of finding work. 

      </p>
<!-- 
      <p class="govuk-body govuk-!-margin-bottom-3">Selecting one of these options will take you to another government service. 

      </p> -->




      <div style="float: right;"><a class="govuk-!-padding-top-3" href="CV_advice">
        <button style="width: 210px" type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">
          Get CV advice
        </button></a>
      </div>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-7 govuk-!-margin-top-4">Your CV</h3>


            <div style="float: right;"><a class="govuk-!-padding-top-3" href="cover_letter_advice">
        <button style="width: 210px" type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">
          Get cover letter advice
        </button></a>
      </div>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-7 govuk-!-margin-top-4">Your cover letter</h3>




      <div style="float: right;"><a class="govuk-!-padding-top-3" href="interview_advice">
        <button style="width: 210px" type="submit" class="govuk-button govuk-button--secondary">
          Get interview advice
        </button></a>
      </div>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-7 govuk-!-margin-top-4 govuk-!-padding-top-1">Your interview skills</h3>



   <div class="govuk-!-margin-top-0 govuk-!-margin-bottom-5" style="border-bottom: solid; border-bottom-width: 1px; border-bottom-color: #b1b4b6">

     </div>

        <div class="govuk-!-padding-top-1" style="float: right;"><a class="govuk-link govuk-body" href="apprenticeship_preferences">Edit your apprenticeship choice</a></div>



   <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Apply for on-the-job training</h3>



      <p class="govuk-body">You chose to view apprenticeship vacancies for your target type of work. 

      </p>





      <div style="float: right;"><a class="govuk-!-padding-top-3" href="apprenticeships_near_me">
        <button style="width: 210px" type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">
          Show apprenticeships near me
        </button></a>
      </div>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-7 govuk-!-margin-top-4">On-the-job training</h3>



   <div class="govuk-!-margin-top-0 govuk-!-margin-bottom-5" style="border-bottom: solid; border-bottom-width: 1px; border-bottom-color: #b1b4b6">

     </div>






    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Find local schemes and offers</h3>

    <p class="govuk-body govuk-!-margin-bottom-3">Check if there are any local training and employment schemes in your area.
      </p>

    <p class="govuk-body govuk-!-margin-bottom-6"><a href="offers_near_me">Show me local offers</a></p>

       <div class="govuk-!-margin-top-0 govuk-!-margin-bottom-6" style="border-top: solid; border-top-width: 7px; border-top-color: #1d70b8; border-bottom: solid; border-bottom-width: 0px; border-bottom-color: #b1b4b6">

     
</div>



  <div class="govuk-!-padding-top-1" style="float: right;"><a class="govuk-link govuk-body" href="#*">Change target types of work</a></div>

  <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Apply for a job</h3>

    <p class="govuk-body govuk-!-margin-bottom-3">Once you’re ready to apply, find jobs in your local area.
      </p>


      <div style="float: right;"><a class="govuk-!-padding-top-3" href="jobs_near_me">
        <button style="width: 210px" type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">
          Show jobs near me
        </button></a>
      </div>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-7 govuk-!-margin-top-4">Admin assistant</h3>

               <div class="govuk-!-margin-top-0 govuk-!-margin-bottom-6" style="border-top: solid; border-top-width: 7px; border-top-color: #1d70b8; border-bottom: solid; border-bottom-width: 0px; border-bottom-color: #b1b4b6">

     
</div>



  








    </div>
    {% include "main/releaseX_e2e_v3/contact_us.html"%}
    {% include "main/releaseX_e2e_v3/create_account_panel.html"%}
    {% include "main/releaseX_e2e_v3/survey_panel.html"%}
  </div>
</div>



{% endblock %}
