
{% extends "layout.html" %}

{% block pageTitle %}
Get Help To Retrain
{% endblock %}

{% block beforeContent %}


{{ govukPhaseBanner({
  tag: {
  text: "beta"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-width-container">

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="task_list.html">Home: Get help to retrain</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        Action plan
      </li>
    </ol>
  </div>

  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">Your personal action plan
      </h1>

      <p class="govuk-body-l">Your plan of action for finding a new, more secure type of work.</p>


      <div style="border-top: solid; border-top-width: 7px; border-top-color: #1d70b8; border-bottom: solid; border-bottom-width: 1px; border-bottom-color: #b1b4b6">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-6 govuk-!-margin-top-4">Here’s what you’ve done so far:
        </h2>

        <div class="govuk-!-padding-top-1" style="float: right;"><a class="govuk-link govuk-body" href="#*">Change target type of work</a></div>

        <h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-4">Your target type of work</h3>


        <p class="govuk-body govuk-!-margin-bottom-2">You’ve chosen to target this this type of work.</p>


        <h3 class="govuk-heading-s govuk-!-margin-bottom-4"><a href="#!" style="text-decoration:none">Admin assistant</a></h3>


      </div>

      <div style="border-bottom: solid; border-bottom-width: 7px; border-bottom-color: #1d70b8">


        <div class="govuk-!-padding-top-1" style="float: right;"><a class="govuk-link govuk-body" href="#*">View / edit your skills</a></div>

        <h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-4">Your skills</h3>


        <p class="govuk-body">You added skills based on jobs you have already done.</p>

        <p class="govuk-body govuk-!-margin-bottom-6">
Edit your skills to see different ideas for types of work you can do.</p>
      </div>







      <h2 class="govuk-heading-m govuk-!-margin-bottom-6 govuk-!-margin-top-4">Here’s what you need to do next:
      </h2>

      <div class="govuk-!-padding-top-1" style="float: right;"><a class="govuk-link govuk-body" href="training_preferences">Edit your training choices</a></div>

      <h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-4">Find training</h3>

      <p class="govuk-body">You chose not to get any help with your maths, English or computer skills.If you change your mind, you can edit your training choices.</p>

      <p class="govuk-body govuk-!-margin-bottom-3">You can find other types of training by searching on <a href="https://nationalcareers.service.gov.uk/find-a-course">Find a course</a>, run by the National Careers Service.</p>


   <div class="govuk-!-margin-top-0 govuk-!-margin-bottom-5" style="border-bottom: solid; border-bottom-width: 1px; border-bottom-color: #b1b4b6">

     </div>




      <div class="govuk-!-padding-top-1" style="float: right;"><a class="govuk-link govuk-body" href="job_hunting_preferences">Edit your advice choices</a></div>



      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Get job hunting advice</h3>


 <p class="govuk-body govuk-!-margin-bottom-3">You chose not to get any advice on your CV, cover letter or interview skills. If you change your mind, you can edit your advice choices. 

      </p>


   <div class="govuk-!-margin-top-0 govuk-!-margin-bottom-5" style="border-bottom: solid; border-bottom-width: 1px; border-bottom-color: #b1b4b6">

     </div>

            <div class="govuk-!-padding-top-1" style="float: right;"><a class="govuk-link govuk-body" href="apprenticeship_preferences">Edit your apprenticeship choice</a></div>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Explore on the job training</h3>

    <p class="govuk-body">You chose not to see adult apprenticeship vacancies for your target job. If you change your mind, you can edit your apprecticeship choice. 
      </p>

            <p class="govuk-body govuk-!-margin-bottom-3">You can still find an apprenticeship in your area by clicking the link below. Selecting this link will take you to another government service. 

      </p>

    <p class="govuk-body"><a href="https://www.gov.uk/apply-apprenticeship">Find an apprenticeship</a></p>

       <div class="govuk-!-margin-top-0 govuk-!-margin-bottom-5" style="border-bottom: solid; border-bottom-width: 1px; border-bottom-color: #b1b4b6">
         
       </div>


    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Find local schemes and offers</h3>

    <p class="govuk-body govuk-!-margin-bottom-3">Check if there are any local training and employment schemes in your area. 
      </p>

    <p class="govuk-body govuk-body govuk-!-margin-bottom-6"><a href="offers_near_me">Show me local offers</a></p>

       <div class="govuk-!-margin-top-0 govuk-!-margin-bottom-6" style="border-top: solid; border-top-width: 7px; border-top-color: #1d70b8; border-bottom: solid; border-bottom-width: 0px; border-bottom-color: #b1b4b6">

     
</div>




  <div class="govuk-!-padding-top-1" style="float: right;"><a class="govuk-link govuk-body" href="#*">Change target types of work</a></div>

  <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Apply for a job</h3>

    <p class="govuk-body govuk-!-margin-bottom-3">Once you’re ready to apply, find jobs in your local area. 
      </p>


      <div style="float: right;"><a class="govuk-!-padding-top-3" href="jobs_near_me">
        <button style="width: 210px" type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">
          Show jobs near me
        </button></a>
      </div>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-7 govuk-!-margin-top-4">Admin assistant</h3>

               <div class="govuk-!-margin-top-0 govuk-!-margin-bottom-6" style="border-top: solid; border-top-width: 7px; border-top-color: #1d70b8; border-bottom: solid; border-bottom-width: 0px; border-bottom-color: #b1b4b6">

     
</div>




      







    </div>
    {% include "main/releaseX_e2e_v3/contact_us.html"%}
    {% include "main/releaseX_e2e_v3/create_account_panel.html"%}
    {% include "main/releaseX_e2e_v3/survey_panel.html"%}
  </div>
</div>



{% endblock %}
