 
{% extends "layout.html" %}

{% block pageTitle %}
Get Help To Retrain
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
  text: "beta"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-width-container">



      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">

          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="task_list.html">Home: Get help to retrain</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="training_hub">Find and apply to training courses near you</a>
          </li>
        </ol>
      </div>

      {% endblock %}

      {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Find and apply to a training course near you</h1>



        <p class="govuk-body-l">Even if you’re already employed, some training – for example, a free short course in maths or English – will improve your chances of accessing a broader range of jobs.</p>

        <h2 class="govuk-heading-m">Types of courses</h2>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1" style="color: #005ea5">Maths</h2>
        <p class="govuk-body-m govuk-!-margin-bottom-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
        <a href="#" class="govuk-body-m">more information on maths courses</a><br>
          
          <a href="#">
            <button type="submit" class="govuk-button govuk-!-margin-top-5 govuk-button govuk-!-margin-bottom-2">
            Find a maths course
          </button></a>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-1" style="color: #005ea5">English</h2>
        <p class="govuk-body-m govuk-!-margin-bottom-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
        <a href="#" class="govuk-body-m">more information on English courses</a><br>

        <a href="#">
          <button type="submit" class="govuk-button govuk-!-margin-top-5 govuk-button govuk-!-margin-bottom-2">
            Find a English course
          </button></a>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      </div>

      {% include "main/release2_e2e_v1/next_steps_panel.html"%}
      {% include "main/release2_e2e_v1/survey_panel.html"%}

  </div>
</div>



      {% endblock %}