
{% extends "layout.html" %}

{% block pageTitle %}
Get Help To Retrain
{% endblock %}

{% block beforeContent %}



{{ govukPhaseBanner({
  tag: {
  text: "beta"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}





  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="task_list.html">Home: Get help to retrain</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="related_jobs.html">Your job matches</a>
      </li>

            <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="job_details_retraining_admin_assistant.html">Job profile details</a>
      </li>

      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        Jobs near me
      </li>
    </ol>
  </div>


  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Admin assistant jobs near me</h1>

      <p class="govuk-body">These admin assistant jobs are being advertised within 20 miles of your postcode.</p>

<p class="govuk-body">These jobs are currently being advertised in the <a href="*">Find a job</a> service from the Department for Work and Pensions. You may be able to find more jobs advertised elsewhere by checking other sources of information.</p>


      <div class="govuk-grid-column-full govuk-!-padding-0 govuk-!-margin-bottom-5">
        <label class="govuk-label" for="more-detail">
         Postcode
       </label>
       <input style="float: left;" class="govuk-input govuk-!-width-one-half" type="text" value="M8 6SJ">
       <button style="float: left; border: 0; width:40px; height:40px; background:url('{{ asset_path }}images/search_icon.svg') 50% 50%/20px no-repeat #005ea5;" type="submit">
       </button>
     </div>


    <h2 class="govuk-heading-m govuk-!-margin-bottom-2" style="color: #005ea5"><a href="#*">Service Admin Assistant</a></h2>
     <h3 class="govuk-heading-s govuk-!-margin-bottom-0">19 August 2019</h3>
     <p class="govuk-body govuk-!-margin-bottom-0"><b>British Red Cross</b> - Leeds, West Yorkshire, LS12 2NB</p>
     <p class="govuk-body govuk-!-margin-bottom-1"><b>£14,943 per year</b></p>
     <p class="govuk-body">Service Admin Assistant Location: Leeds Contract type: Fixed-term contract until 21/02/2019 Hours per week: 35, Monday to Friday, 9am to 5pm Salary: £14,943 per annum We've got an opportunity We have a fantastic opportunity for an administrator with excellent ...</p>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2" style="color: #005ea5"><a href="#*">Legal / Admin Assistant</a></h2>
     <h3 class="govuk-heading-s govuk-!-margin-bottom-0">08 August 2019</h3>
     <p class="govuk-body govuk-!-margin-bottom-0"><b>Search Consultancy LTD</b> - Leeds, West Yorkshire, LS1 5JF</p>
     <p class="govuk-body govuk-!-margin-bottom-1"><b>£15,500.00 to £16,500.00 per year</b></p>
     <p class="govuk-body">Legal Customer Service Administrator Location: Leeds City Centre, LS1 Salary: £15,500-£16,500 Hours: Monday - Friday 9am - 5.30 (some flexibility) Are you stuck in the hospitality or retail sector and looking for a move into a progressive career? Are you in a ...</p>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2" style="color: #005ea5"><a href="#*">Receptionist / Admin Assistant</a></h2>
     <h3 class="govuk-heading-s govuk-!-margin-bottom-0">22 August 2019</h3>
     <p class="govuk-body govuk-!-margin-bottom-0"><b>eTeach UK Limited</b> - Leeds, West Yorkshire, LS14 6TY</p>
     <p class="govuk-body govuk-!-margin-bottom-1"><b>£18,795 - £19,554 Pro Rata</b></p>
     <p class="govuk-body">Academy: Leeds East AcademyJob Title: Receptionist / Admin AssistantGrade: B1 £18,795 - £19,554 Pro Rata £16,825 - £17,504 TTO plus 15 days8.00am – 4.00 pmAccountable to: Office Manager Leeds East Academy is a diverse and vibrant school community which has ...</p>



    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2" style="color: #005ea5"><a href="#*">School admin assistant required in Leeds</a></h2>
     <h3 class="govuk-heading-s govuk-!-margin-bottom-0">30 July 2019</h3>
     <p class="govuk-body govuk-!-margin-bottom-0"><b>AoC Jobs</b> - LS1</p>
     <p class="govuk-body govuk-!-margin-bottom-1"><b>£15000 - £19999 Per Year 65.00 - 85.00 GBP Daily</b></p>
     <p class="govuk-body">Administration Assistant urgently required in Leeds A fantastic opportunity has become available at one of our client schools based in Leeds for a proficient and experienced Administrative Officer. This is a dynamic, fast-paced office and the successful ...</p>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2" style="color: #005ea5"><a href="#*">Personal Assistant Administrator Band 4</a></h2>
     <h3 class="govuk-heading-s govuk-!-margin-bottom-0">23 August 2019</h3>
     <p class="govuk-body govuk-!-margin-bottom-0"><b>NHS Jobs</b> - Leeds, LS15 8ZB</p>
     <p class="govuk-body govuk-!-margin-bottom-1"><b>£21,089 to £23,761 pa</b></p>
     <p class="govuk-body">Leeds and York Partnership NHS Foundation Trust is recruiting: Are you looking for new opportunity? Do you have excellent communication skills? Do you have excellent admin/secretarial skills? We are looking to recruit a PA/Administrator to work in our Nursing ...</p>



    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">







  </div>

      {% include "main/release4_e2e_v1/contact_us.html"%}
      {% include "main/release4_e2e_v1/create_account_panel.html"%}
  {% include "main/release4_e2e_v1/next_steps_panel.html"%}
  {% include "main/release4_e2e_v1/survey_panel.html"%}
</div>



{% endblock %}
