
{% extends "layout.html" %}

{% block pageTitle %}
Get Help To Retrain
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
  text: "beta"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">

    <li class="govuk-breadcrumbs__list-item">
     <a class="govuk-breadcrumbs__link" href="task_list.html">Home: Get help to retrain</a>
   </li>
  <li class="govuk-breadcrumbs__list-item" aria-current="page">
    Training choices
  </li>
</ol>
</div>




{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Can you prove to employers you have maths and English skills?</h1>


    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          
           <p class=govuk-body-l>Employers tend to favour candidates who have qualifications to prove they have maths and English skills.</p>

          <p class=govuk-hint>If you think you need to take any of these courses, tick the relevant box.</p>



        </legend>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item govuk-!-margin-bottom-5">
            <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste-1">
              I need to prove my English skills
            </label> </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                I need to prove my maths skills
              </label> </div>

                        </div>
                      </fieldset>
                    </div>





<p class="govuk-body"><a href="cv_help">Skip this step</a> if you already have maths and English qualifications</p>


                    <a href="cv_help"><button type="submit" class="govuk-button">
                      Continue
                    </button></a>




                  </div>

      {% include "main/release3_e2e_v3/contact_us.html"%}
      {% include "main/release3_e2e_v3/sign_in_panel.html"%}


                </div>






                {% endblock %}
