 
{% extends "layout.html" %}

{% block pageTitle %}
Get Help To Retrain
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
  text: "beta"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-width-container">



  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="task_list.html">Home: Get help to retrain</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="maths_overview">Find training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="maths_overview">Benefits of English</a>
      </li>
    </ol>
  </div>

  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" style="margin-bottom: 600px !important">

      <h1 class="govuk-heading-xl">Benefits of doing an English course</h1>

      <p class="govuk-body-l">English courses are offered for free as part of the National Retraining Scheme.</p>

      <h2 class="govuk-heading-m">How will an English course help my career?

      </h2>


      <p class="govuk-body-m">Employers want to know that you can communicate confidently and clearly in the workplace. Completing an English course helps show them you have the skills they want. 
 
      </p>

      <p class="govuk-body-m">English classes will help you develop skills in things such as spelling and grammar, reading and writing, as well as speaking and listening skills. They’ll help improve your confidence and show that you can apply those skills in the workplace.

      </p>

      <p class="govuk-body-m">Studying at adult level isn’t like being at school. You’ll find the course focuses on giving you the practical skills you need to succeed at work.

      </p>

      <h2 class="govuk-heading-m">The right course for you
      </h2>


      <p class="govuk-body-m">There are lots of English courses available for every level of ability. The course provider will help assess what level of course is right for you. You’ll also be able to choose a course that offers flexible learning or part time study to fit around your life.

      </p>

      <p class="govuk-body-m">Many courses are available for free in your area.

      </p>


      <a href="english_courses_near_me">
        <button type="submit" class="govuk-button govuk-!-margin-top-5 govuk-button govuk-!-margin-bottom-2">
          Find an English course
        </button></a>



      </div>
      {% include "main/release3_e2e_v2/contact_us.html"%}


      {% include "main/release3_e2e_v3/create_account_panel.html"%}
      {% include "main/release3_e2e_v3/sign_in_panel.html"%}
      {% include "main/release3_e2e_v3/next_steps_panel.html"%}
      {% include "main/release3_e2e_v3/survey_panel.html"%}

    </div>
  </div>



  {% endblock %}