 
{% extends "layout.html" %}

{% block pageTitle %}
  Get Help To Retrain
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}



<div class="govuk-width-container">
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="training_hub">Your location</a>
      </li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">


  <h1 class="govuk-heading-xl">What is your postcode?</h1>
        
<p class="govuk-body-l">We'll use this to find training courses near you.</p>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Postcode
    </label>

    <span id="" class="govuk-hint">
    For example, SW1P 3BP
    </span>

    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
  </div>

        <a href="data_capture"><button type="submit" class="govuk-button">
            Continue
        </button></a>

         </div>



      {% include "main/release3_e2e_v3/contact_us.html"%}
      {% include "main/release3_e2e_v3/sign_in_panel.html"%}


</div>

</div>     

{% endblock %}
