 
{% extends "layout.html" %}

{% block pageTitle %}
  Get Help To Retrain
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-grid-row">

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="training_hub">Not yet available</a>
      </li>
  </ol>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">The full Get help to retrain service isn't available in your area yet</h1>

        <p class="govuk-body-m">The service will be rolled out across England during 2020. In the meantime you can use it to check your existing skills and explore the types of jobs you could apply for.</p>
        
        <p class="govuk-body-m">Find more training and careers advice for your area through the <a href="https://nationalcareers.service.gov.uk/">National Careers Service</a>.</p>



        <a href="#"><button type="submit" class="govuk-button">
            Continue
        </button></a>



      </div>
      {% include "main/release3_e2e_v3/contact_us.html"%}

      {% include "main/release3_e2e_v3/sign_in_panel.html"%}

</div>

     

{% endblock %}
