
{% extends "layout.html" %}

{% block pageTitle %}
  Get help to retrain: step by step
{% endblock %}


{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
  <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
          <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
          Get help to retrain
      </li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Get help to retrain
    </h1>
    <p>
      Check what you need to do to retrain for another job. You might qualify for free training if you don’t have a degree.
    </p>
    <p>
      How long it takes you to complete the following steps will depend on your situation. You will be able to save your progress and come back to this service at another time if you need to.
    </p>
    <p style="color:#ffffff">Lorem ipsum</p>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Check what you’re good at and enjoy doing
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <div class="app-task-list__task-name govuk-!-width-two-thirds app-task-list__task-name">
            <a href="check_your_current_occupation">
              Check your current occupation <span class="app-step-nav__context">5 minutes</span>
            </a>
          </div>
          <strong class="govuk-tag app-task-list__task-completed--hidden" id="task-list-tag-1">
            Completed
          </strong>
          </li>
          <li class="app-task-list__item">
            <div class="app-task-list__task-name govuk-!-width-two-thirds app-task-list__task-name">
            <a href="check_what_skills_you_already_have">
              Check what skills you already have <span class="app-step-nav__context">30 minutes</span>
            </a>
          </div>
          <strong class="govuk-tag app-task-list__task-completed--hidden" id="task-list-tag-2">
            Completed
          </strong>
          </li>
        </ul>
      </li>
      <li>


        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Check the type of jobs you could do
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <div class="app-task-list__task-name govuk-!-width-two-thirds app-task-list__task-name">
            <p id="task-link-2">
            Check the type of jobs you could retrain to do <span class="app-step-nav__context">10 minutes</span>
            </p>
          </div>
          <strong class="govuk-tag app-task-list__task-not-active" id="task-list-tag-3">
            Can’t start yet
          </strong>
          </li>
        </ul>
      </li>
      <li>


        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Apply for a training course
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <div class="app-task-list__task-name govuk-!-width-two-thirds app-task-list__task-name">
              <p id="task-link-3">
                Find and apply to training courses near you <span class="app-step-nav__context">10 minutes</span>
              </p>
            </div>
            <strong class="govuk-tag app-task-list__task-not-active" id="task-list-tag-4">
              Can’t start yet
            </strong>
          </li>
        </ul>
      </li>
      <li>


        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span> Complete your training course
        </h2>
        <p style="color:#ffffff; font-size:8px;">Lorem ipsum</p>
      </li>
      <li>


        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">5. </span> Apply for a job
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
              <div class="app-task-list__task-name govuk-!-width-two-thirds app-task-list__task-name">
                <p id="task-link-5">
                  Check and apply for jobs that require your new training
                </p>
            </div>
            <strong class="govuk-tag app-task-list__task-not-active" id="task-list-tag-6">
              Can’t start yet
            </strong>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">6. </span> Help improve this service
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
              <div class="app-task-list__task-name govuk-!-width-two-thirds app-task-list__task-name">
                <p id="task-link-6">
                  Take a survey to help improve this service
                </p>
            </div>
            <strong class="govuk-tag app-task-list__task-not-active" id="task-list-tag-7">
              Can’t start yet
            </strong>
          </li>
        </ul>
      </li>
    </ol>

  </div>


  {% include "main/v1/contact_us.html"%}
    </div>
</div>
{% endblock %}
