
{% extends "layout.html" %}


{% block pageTitle %}
  Get help to retrain: step by step
{% endblock %}
{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-navigation.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.StepByStepNavigation()
    stepByStepNavigation.start($element)
    var taskListCompletion = new GOVUK.Modules.TaskListCompletion()
    var $session =
    {
      task_1: '{{ data['task-1'] }}',
      task_2: '{{ data['task-2'] }}',
      task_3: '{{ data['task-3'] }}'
    }
    taskListCompletion.start($session)
  </script>
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
    </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="task_list.html">Get help to retrain</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="explore_careers.html">Explore careers</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
          Healthcare
      </li>
  </ol>
</div>
<main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="heading-xlarge">Healthcare</h1>
          <ul class="govuk-list">
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" style="text-decoration:none" href="#">Acoustics consultant</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Acoustician, acoustics engineer</h3>
                <p class="dfc-code-search-jpOverview">Acoustics consultants help manage and control noise and vibrations in homes, workplaces and other environments.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" style="text-decoration:none" href="#">Acupuncturist</a></h2>
                <p class="dfc-code-search-jpOverview">Acupuncturists insert needles into pressure points on clients&#39; bodies to help relieve everyday stresses, and improve their wellbeing.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" style="text-decoration:none" href="#">Alexander Technique teacher</a></h2>
                <p class="dfc-code-search-jpOverview">Alexander Technique teachers work to improve posture and movement, aiming to increase their clients&#39; fitness and mental wellbeing.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" style="text-decoration:none" href="#">Ambulance care assistant</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Patient transport service driver, ambulance staff</h3>
                <p class="dfc-code-search-jpOverview">Ambulance care assistants take patients to and from hospital for appointments.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" style="text-decoration:none" href="#">Anaesthetist</a></h2>
                <p class="dfc-code-search-jpOverview">Anaesthetists are doctors who give anaesthetics to patients before, during and after surgery.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" style="text-decoration:none" href="#">Anatomical pathology technician</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">APT, mortuary technician, anatomical pathology technologist</h3>
                <p class="dfc-code-search-jpOverview">Anatomical pathology technicians (APTs) help pathologists carry out post-mortems in mortuaries.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Art therapist</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Art psychotherapist</h3>
                <p class="dfc-code-search-jpOverview">Art therapists help people express difficult thoughts and feelings through creative activities.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Audiologist</a></h2>
                <p class="dfc-code-search-jpOverview">Audiologists work with children and adults who suffer from hearing loss, tinnitus, or have problems with balance.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Biomedical scientist</a></h2>
                <p class="dfc-code-search-jpOverview">Biomedical scientists screen patient samples and help doctors and healthcare professionals to diagnose and treat disease.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Care home advocate</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Resident representative</h3>
                <p class="dfc-code-search-jpOverview">Care home advocates make sure the views and wishes of residents in care homes are heard.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Care worker</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Care assistant, support worker, nursing home assistant</h3>
                <p class="dfc-code-search-jpOverview">Care workers help vulnerable people to manage their daily activities and to live as independently as possible.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Children&#39;s nurse</a></h2>
                <p class="dfc-code-search-jpOverview">Children&#39;s nurses provide care for children and young people with acute or long-term health problems.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Chiropractor</a></h2>
                <p class="dfc-code-search-jpOverview">Chiropractors manipulate joints, bones and soft tissue to help clients control pain or prevent injuries from re-occurring.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Clinical engineer</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Biomedical engineer, bio-engineer</h3>
                <p class="dfc-code-search-jpOverview">Clinical engineers design, develop and maintain equipment for diagnosing illness and treating patients.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Clinical psychologist</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Investigative psychologist, legal psychologist, criminal psychologist</h3>
                <p class="dfc-code-search-jpOverview">Clinical psychologists help people make positive changes to their thinking and behaviour.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Clinical scientist</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Healthcare scientist</h3>
                <p class="dfc-code-search-jpOverview">Clinical scientists research and develop techniques and equipment to help prevent, diagnose and treat illness.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Cognitive behavioural therapist</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">CBT, talking therapist, behavioural therapist</h3>
                <p class="dfc-code-search-jpOverview">Cognitive behavioural therapy (CBT) practitioners use talking therapy to help patients change negative patterns of thinking or behaviour.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Colon hydrotherapist</a></h2>
                <p class="dfc-code-search-jpOverview">Colon hydrotherapists use water to cleanse the colon of waste products and toxins.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Colour therapist</a></h2>
                <p class="dfc-code-search-jpOverview">Colour therapists believe it&#39;s possible to use colour to help physical, mental or emotional problems by balancing energy.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Community matron</a></h2>
                <p class="dfc-code-search-jpOverview">Community matrons provide care and support to people with long-term or complicated health conditions.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Counsellor</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Therapist</h3>
                <p class="dfc-code-search-jpOverview">Counsellors help people discuss their problems and feelings in a confidential environment.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Critical care technologist</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">CCT, intensive care unit technician</h3>
                <p class="dfc-code-search-jpOverview">Critical care technologists (CCTs) make sure equipment used in the care of critically ill patients is safe and effective.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Dance movement psychotherapist</a></h2>
                <p class="dfc-code-search-jpOverview">Dance movement psychotherapists use dance and movement to help people deal with emotional, psychological and physical issues.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Dental hygienist</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Oral health practitioner</h3>
                <p class="dfc-code-search-jpOverview">Dental hygienists offer advice, information and treatments to prevent and treat tooth decay and gum disease.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Dental nurse</a></h2>
                <p class="dfc-code-search-jpOverview">Dental nurses help dentists to treat their patients and do reception work and other tasks in the practice.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Dental technician</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Dental technologist</h3>
                <p class="dfc-code-search-jpOverview">Dental technicians design, make and repair the dental appliances used for improving patients&#39; appearance, speech or ability to eat.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Dental therapist</a></h2>
                <p class="dfc-code-search-jpOverview">Dental therapists carry out routine treatments prescribed by a dentist.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Dentist</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Dental surgeon, dental practitioner</h3>
                <p class="dfc-code-search-jpOverview">Dentists diagnose and treat teeth and mouth problems, and work to prevent dental disease and promote oral health.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Dietitian</a></h2>
                <p class="dfc-code-search-jpOverview">Dietitians diagnose and treat people with nutrition problems, and help people make healthy lifestyle and dietary decisions.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Dispensing optician</a></h2>
                <p class="dfc-code-search-jpOverview">Dispensing opticians give advice on vision care, and supply glasses and contact lenses to suit their customers needs.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">District nurse</a></h2>
                <p class="dfc-code-search-jpOverview">District nurses care for people outside of hospital in patients&#39; homes, GP surgeries and residential care homes.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Dramatherapist</a></h2>
                <p class="dfc-code-search-jpOverview">Dramatherapists use group work, role play and movement to help people with their feelings and emotions.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Emergency care assistant</a></h2>
                <p class="dfc-code-search-jpOverview">Emergency care assistants drive ambulances under emergency conditions and support paramedics.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Emergency medical dispatcher</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Emergency call handler, ambulance dispatcher</h3>
                <p class="dfc-code-search-jpOverview">Emergency medical dispatchers handle calls from the public and GPs requesting an ambulance.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">GP</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">General practitioner, doctor</h3>
                <p class="dfc-code-search-jpOverview">General practitioners (GPs) are doctors who provide medical services to people in their practice.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Geneticist</a></h2>
                <p class="dfc-code-search-jpOverview">Geneticists study genes to work out how cells and organisms behave.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Health play specialist</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Hospital play specialist</h3>
                <p class="dfc-code-search-jpOverview">Health play specialists understand child development and use therapeutic play activities to help children cope when in hospital.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Health promotion specialist</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Health improvement specialist</h3>
                <p class="dfc-code-search-jpOverview">Health promotion specialists educate and inform people about health issues.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Health service manager</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Hospital manager, NHS hospital manager</h3>
                <p class="dfc-code-search-jpOverview">Health service managers run local healthcare services like hospitals, GP practices and community health services.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Health trainer</a></h2>
                <p class="dfc-code-search-jpOverview">Health trainers promote healthy living and help people make healthier lifestyle choices.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Health visitor</a></h2>
                <p class="dfc-code-search-jpOverview">Health visitors work with families in their own homes to promote healthy lifestyles and prevent illness.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Healthcare assistant</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Support worker, nursing assistant, nursing auxiliary</h3>
                <p class="dfc-code-search-jpOverview">Healthcare assistants look after patients in hospitals or in patients’ own homes.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Healthcare science assistant</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Assistant technical officer</h3>
                <p class="dfc-code-search-jpOverview">Healthcare science assistants support healthcare professionals.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Homeopath</a></h2>
                <p class="dfc-code-search-jpOverview">Homeopaths believe that you can use homeopathic remedies to stimulate the body to heal itself.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Hospital doctor</a></h2>
                <p class="dfc-code-search-jpOverview">A hospital doctor diagnoses and treats illness and disease in patients admitted to hospital.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Hospital porter</a></h2>
                <p class="dfc-code-search-jpOverview">Hospital porters move patients, equipment and medical supplies around a hospital.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Hypnotherapist</a></h2>
                <p class="dfc-code-search-jpOverview">Hypnotherapists use hypnosis to help people make positive changes to their health, lifestyle and behaviour.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Learning disability nurse</a></h2>
                <p class="dfc-code-search-jpOverview">Learning disability nurses help people with a learning disability to live as independently as possible.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Maternity support worker</a></h2>
                <p class="dfc-code-search-jpOverview">Maternity support workers help midwives provide care to women and their babies, before, during and after childbirth.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Medical herbalist</a></h2>
                <p class="dfc-code-search-jpOverview">Medical herbalists use plants and herbal remedies to help improve their clients&#39; health and wellbeing.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Medical illustrator</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Clinical photographer</h3>
                <p class="dfc-code-search-jpOverview">Medical illustrators produce photographs, videos and graphical images for use in healthcare.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Medical physicist</a></h2>
                <p class="dfc-code-search-jpOverview">Medical physicists are specialists in healthcare science, also known as clinical science.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Mental health nurse</a></h2>
                <p class="dfc-code-search-jpOverview">Mental health nurses work in hospitals and the community, to support people with mental health issues.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Microbiologist</a></h2>
                <p class="dfc-code-search-jpOverview">Microbiologists study micro-organisms like bacteria, viruses, fungi and algae.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Midwife</a></h2>
                <p class="dfc-code-search-jpOverview">Midwives support pregnant women and their babies before, during and after, childbirth.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Music therapist</a></h2>
                <p class="dfc-code-search-jpOverview">Music therapists use music and sound to help improve people&#39;s emotional well-being, relieve stress and build confidence.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Naturopath</a></h2>
                <p class="dfc-code-search-jpOverview">Naturopaths believe in improving their clients&#39; health through natural therapies and education about lifestyle, diet and exercise.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Nurse</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Adult nurse</h3>
                <p class="dfc-code-search-jpOverview">Nurses care for adults who are sick, injured or have physical disabilities.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Nutritional therapist</a></h2>
                <p class="dfc-code-search-jpOverview">Nutritional therapists help people by giving advice on diet and nutrition.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Nutritionist</a></h2>
                <p class="dfc-code-search-jpOverview">Nutritionists pass on scientific food knowledge and advice about the effects of diet and nutrition on health and wellbeing.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Occupational health nurse</a></h2>
                <p class="dfc-code-search-jpOverview">Occupational health nurses care for the health and wellbeing of people at work.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="#">Occupational therapist</a></h2>
                <p class="dfc-code-search-jpOverview">Occupational therapists help people overcome difficulties caused by physical or mental illness, disability, accidents or ageing.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/occupational-therapy-support-worker">Occupational therapy support worker</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Occupational therapy (OT) assistant, OT technician, rehabilitation assistant, technical instructor</h3>
                <p class="dfc-code-search-jpOverview">Occupational therapy support workers work with occupational therapists to help sick, injured or old people to be as independent as possible.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/operating-department-practitioner">Operating department practitioner</a></h2>
                <p class="dfc-code-search-jpOverview">Operating department practitioners (ODPs) support operating theatre staff and provide care to patients at all stages of an operation.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/optometrist">Optometrist</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Ophthalmic optician</h3>
                <p class="dfc-code-search-jpOverview">Optometrists test vision, identify eye health problems, prescribe glasses and fit contact lenses.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/orthoptist">Orthoptist</a></h2>
                <p class="dfc-code-search-jpOverview">Orthoptists work with a team of specialists to diagnose and treat eye problems.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/osteopath">Osteopath</a></h2>
                <p class="dfc-code-search-jpOverview">Osteopaths move, stretch and massage their clients&#39; muscles and joints with the aim of improving their health and wellbeing.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/paediatrician">Paediatrician</a></h2>
                <p class="dfc-code-search-jpOverview">Paediatricians diagnose and treat health conditions that affect babies, children and young people.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/palliative-care-assistant">Palliative care assistant</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Specialist healthcare assistant</h3>
                <p class="dfc-code-search-jpOverview">Palliative care assistants provide specialist end of life care and support to patients and their families.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/paramedic">Paramedic</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Ambulance paramedic</h3>
                <p class="dfc-code-search-jpOverview">Paramedics deal with emergencies, giving people life-saving medical help.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/pathologist">Pathologist</a></h2>
                <p class="dfc-code-search-jpOverview">Pathologists are doctors who diagnose disease by examining cells and tissue samples, and sometimes through performing autopsies.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/patient-advice-and-liaison-service-officer">Patient advice and liaison service officer</a></h2>
                <p class="dfc-code-search-jpOverview">Patient advice and liaison service (PALS) officers give support, advice and information about NHS services.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/patient-transport-service-controller">Patient transport service controller</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Patient transport service call handler</h3>
                <p class="dfc-code-search-jpOverview">Patient transport service controllers arrange transport to take frail or vulnerable people to and from medical appointments.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/pharmacist">Pharmacist</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Dispensing chemist, community pharmacist, hospital pharmacist</h3>
                <p class="dfc-code-search-jpOverview">Pharmacists provide expert advice on the use and supply of medicines and medical appliances.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/pharmacologist">Pharmacologist</a></h2>
                <p class="dfc-code-search-jpOverview">Pharmacologists study the effects of drugs and other chemical substances on cells, animals, humans and the environment.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/pharmacy-assistant">Pharmacy assistant</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Chemist’s assistant, dispensing assistant</h3>
                <p class="dfc-code-search-jpOverview">Pharmacy assistants serve customers and patients in chemists and hospital dispensaries.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/pharmacy-technician">Pharmacy technician</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Pharmaceutical technician</h3>
                <p class="dfc-code-search-jpOverview">Pharmacy technicians prepare and supply medicines for prescriptions, under the supervision of a pharmacist.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/phlebotomist">Phlebotomist</a></h2>
                <p class="dfc-code-search-jpOverview">Phlebotomists collect blood samples from patients, and send them off for analysis and testing.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/physicist">Physicist</a></h2>
                <p class="dfc-code-search-jpOverview">Physicists study matter and try to work out why it behaves like it does.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/physiotherapist">Physiotherapist</a></h2>
                <p class="dfc-code-search-jpOverview">Physiotherapists work with patients to improve their range of movement, and promote health and wellbeing.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/physiotherapy-assistant">Physiotherapy assistant</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Physiotherapy support worker</h3>
                <p class="dfc-code-search-jpOverview">Physiotherapy assistants help physiotherapists work with patients to restore or improve movement.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/pilates-teacher">Pilates teacher</a></h2>
                <p class="dfc-code-search-jpOverview">Pilates teachers help clients change and improve their body strength and posture through breathing, stretching and conditioning exercises.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/podiatrist">Podiatrist</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Chiropodist</h3>
                <p class="dfc-code-search-jpOverview">Podiatrists diagnose and treat foot and ankle problems, improving people&#39;s mobility and quality of life.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/podiatry-assistant">Podiatry assistant</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Chiropody assistant, footcare assistant</h3>
                <p class="dfc-code-search-jpOverview">Podiatry assistants provide general foot treatments and nail care under the supervision of a podiatrist.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/practice-nurse">Practice nurse</a></h2>
                <p class="dfc-code-search-jpOverview">Practice nurses work in GP surgeries to assess, screen, treat and educate patients, and help doctors give medical care.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/primary-care-graduate-mental-health-worker">Primary care graduate mental health worker</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Psychological wellbeing practitioner</h3>
                <p class="dfc-code-search-jpOverview">Primary care graduate mental health workers give treatment and support to people with mental health problems.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/prosthetist-orthotist">Prosthetist-orthotist</a></h2>
                <p class="dfc-code-search-jpOverview">Prosthetists and orthotists care for people who need an artificial limb or a device to support or control part of their body.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/psychiatrist">Psychiatrist</a></h2>
                <p class="dfc-code-search-jpOverview">Psychiatrists are doctors who diagnose and treat patients with mental health problems.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/psychologist">Psychologist</a></h2>
                <p class="dfc-code-search-jpOverview">Psychologists study people&#39;s behaviour, motivations, thoughts and feelings, to help them overcome or control their problems.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/psychotherapist">Psychotherapist</a></h2>
                <p class="dfc-code-search-jpOverview">Psychotherapists use talking techniques and therapies to help people who are distressed, or have mental health problems.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/radiographer">Radiographer</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Medical radiographer</h3>
                <p class="dfc-code-search-jpOverview">Radiographers use equipment to diagnose or treat patients who are ill or injured.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/radiography-assistant">Radiography assistant</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Imaging support worker</h3>
                <p class="dfc-code-search-jpOverview">Radiography assistants help radiographers with their day-to-day duties.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/reiki-healer">Reiki healer</a></h2>
                <p class="dfc-code-search-jpOverview">Reiki healers use their palms to help clients relax, and have a better sense of wellbeing.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/school-nurse">School nurse</a></h2>
                <p class="dfc-code-search-jpOverview">School nurses work with schools and families to improve the health and wellbeing of children and young people.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/sexual-health-adviser">Sexual health adviser</a></h2>
                <p class="dfc-code-search-jpOverview">Sexual health advisers provide information, advice and counselling about sexually transmitted infections (STIs).</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/speech-and-language-therapist">Speech and language therapist</a></h2>
                <p class="dfc-code-search-jpOverview">Speech and language therapists help children and adults who have speaking and communication problems.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/speech-and-language-therapy-assistant">Speech and language therapy assistant</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Speech and language therapy support worker</h3>
                <p class="dfc-code-search-jpOverview">Speech and language therapy assistants help support people who have difficulties with communication, or with eating, drinking or swallowing.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/sports-development-officer">Sports development officer</a></h2>
                <p class="dfc-code-search-jpOverview">Sports development officers organise projects and training to encourage people to take part in sport and have a healthier lifestyle.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/sports-physiotherapist">Sports physiotherapist</a></h2>
                <p class="dfc-code-search-jpOverview">Sports physiotherapists diagnose and treat sports injuries.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/sterile-services-technician">Sterile services technician</a></h2>
                <h3  class="govuk-body-s" style="color:#6f777b">Decontamination technician</h3>
                <p class="dfc-code-search-jpOverview">Sterile services technicians clean and decontaminate equipment used in hospital operating theatres, clinics and wards.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/surgeon">Surgeon</a></h2>
                <p class="dfc-code-search-jpOverview">Surgeons carry out operations and medical procedures on patients.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" style="text-decoration:none" href="/job-profiles/yoga-therapist">Yoga therapist</a></h2>
                <p class="dfc-code-search-jpOverview">Yoga therapists use yoga to help people with physical issues, emotional issues or specific health problems.</p>
            </li>
    </ul>
        </div>
<div id="MainContent_T447555DF001_Col01" class="sf_colsIn column-desktop-third" data-sf-element="Column 2" data-placeholder-label="Right One Third Column"><aside class="govuk-related-items job-categories_list">
    <h2 class="heading-medium">Other job categories</h2>
    <ul class="govuk-list">
            <li><a href="/job-categories/administration">Administration</a></li>
            <li><a href="/job-categories/animal-care">Animal care</a></li>
            <li><a href="/job-categories/beauty-and-wellbeing">Beauty and wellbeing</a></li>
            <li><a href="/job-categories/business-and-finance">Business and finance</a></li>
            <li><a href="/job-categories/computing-technology-and-digital">Computing, technology and digital</a></li>
            <li><a href="/job-categories/construction-and-trades">Construction and trades</a></li>
            <li><a href="/job-categories/creative-and-media">Creative and media</a></li>
            <li><a href="/job-categories/delivery-and-storage">Delivery and storage</a></li>
            <li><a href="/job-categories/emergency-and-uniform-services">Emergency and uniform services</a></li>
            <li><a href="/job-categories/engineering-and-maintenance">Engineering and maintenance</a></li>
            <li><a href="/job-categories/environment-and-land">Environment and land</a></li>
            <li><a href="/job-categories/government-services">Government services</a></li>
            <li><a href="/job-categories/home-services">Home services</a></li>
            <li><a href="/job-categories/hospitality-and-food">Hospitality and food</a></li>
            <li><a href="/job-categories/law-and-legal">Law and legal</a></li>
            <li><a href="/job-categories/managerial">Managerial</a></li>
            <li><a href="/job-categories/manufacturing">Manufacturing</a></li>
            <li><a href="/job-categories/retail-and-sales">Retail and sales</a></li>
            <li><a href="/job-categories/science-and-research">Science and research</a></li>
            <li><a href="/job-categories/social-care">Social care</a></li>
            <li><a href="/job-categories/sports-and-leisure">Sports and leisure</a></li>
            <li><a href="/job-categories/teaching-and-education">Teaching and education</a></li>
            <li><a href="/job-categories/transport">Transport</a></li>
            <li><a href="/job-categories/travel-and-tourism">Travel and tourism</a></li>
    </ul>
    </div>
  </div>
</main>


{% endblock %}

{% block content %}


{% endblock %}
