
{% extends "layout.html" %}

{% block pageTitle %}
  Get Help To Retrain
{% endblock %}

{% block beforeContent %}
 {{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}






{% endblock %}

{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Get help to retrain</h1>
        <p class="govuk-body">Use this service to find out what you need to do to retrain for another job.</p>
        <p class="govuk-body">You’ll get the most out of this service if all of the following apply to you:</p>
        <ul class="govuk-list govuk-list--bullet">

        <li>you're employed</li>

        <li>you do not have a degree</li>

        <li>you’re based in the Manchester area</li>

        <li>aged 24 or over</li>




      </ul>


        <a href="task_list" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
          Start now
        </a>



      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">After you’ve used this service, you’ll be able to do the following:</p>

      <ul class="govuk-list govuk-list--bullet">

        <li>retrain and search for jobs to apply to</li>

        <li>take part in research by email, but you can opt out</li>


      </ul>

      </div>
    </div>

  </main>
</div>

{% endblock %}
