
{% extends "layout.html" %}

{% block pageTitle %}
  Get Help To Retrain
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}


<div class="govuk-width-container">

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
      </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="task_list.html">Get help to retrain</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
            Next steps
        </li>
    </ol>
  </div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">Find out what you can do next
      </h1>
      <p class="govuk-body-l">Get advice and help in your search for a new role.</p>

        <div>


          <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="https://nationalcareers.service.gov.uk/get-a-job" style="text-decoration:none" target="_blank">Advice on how to look for and apply for jobs</a></h3>
          <span class="govuk-body">Use the National Careers Service to find out more about the different stages of job hunting, including CV-writing tips, cover letter guidance and interview advice.</span>


          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="https://findajob.dwp.gov.uk/" style="text-decoration:none" target="_blank">Find a job</a></h3>
          <span class="govuk-body">Use DWP's Find a job service to search for jobs available now in your local area.</span>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="https://www.gov.uk/apprenticeships-guide" style="text-decoration:none" target="_blank">Find apprenticeships</a></h3>
          <span class="govuk-body">Use the National Apprenticeships Service to find apprenticeships in your local area, offering opportunities to train on-the-job.</span>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        </div>



      </div>
    {% include "main/release1_e2e_v1/contact_us.html"%}
  </div>
</div>



{% endblock %}
