
{% extends "layout.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Get Help To Retrain",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "help",
        text: "Help",
        active: true
      },
      {
        href: "#",
        text: "Getting Started"
      }
    ]
  }) }}
{% endblock %}

{% block pageTitle %}
  Get Help To Retrain Prototypes
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}


{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Get Help To Retrain Prototypes
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p class="govuk-body-l">
        Prototype versions for the Get Help to Retrain team
      </p>
    </div>


    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        End to End (old)
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/main/v1">Version 1</a></li>
      </ul>
    </div>


        <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        Release 1 E-2-E
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/main/release1_e2e_v1">Version 1</a></li>
      </ul>
    </div>





    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        Exploration
      </h2>
      <h3 class="govuk-heading-s">
        Steve Fox
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">Enter Link Here</a></li>
      </ul>
      <h3 class="govuk-heading-s">
        Nick Breakell
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">Enter Link Here</a></li>
      </ul>
      <h3 class="govuk-heading-s">
        Lupe Núñez-Fernández
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">Enter Link Here</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
