{% extends "layout.html" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Get Help To Retrain",
  serviceUrl: "#",
  containerClasses: "govuk-width-container",
  navigation: [
  {
    href: "help",
    text: "Help",
    active: true
  },
  {
    href: "#",
    text: "Getting Started"
  }
  ]
}) }}
{% endblock %}

{% block pageTitle %}
Get Help To Retrain Prototypes
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
  text: "beta"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}


{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Get Help To Retrain Prototypes

    </h1>
    <p class="govuk-body-l">
      Prototype versions for the Get Help to Retrain team
    </p>

</div>

<div class="govuk-grid-column-one-half">

    <h2 class="govuk-heading-m">
      Phase 1
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/main/release1_e2e_v1/">Version 1</a> (tested 19/06/19)</li>
      <li><a href="/main/release1_e2e_v2/">Version 2</a> (tested 03/07/19)</li>
    </ul>


    <h2 class="govuk-heading-m">
      Phase 2
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/main/release2_e2e_v1/">Version 1</a> (tested 17/07/19)</li>
      <li><a href="/main/release2_e2e_v2/">Version 2</a> (tested 31/07/19)</li>
      <li><a href="/main/release2_e2e_v3/">Version 3</a> (tested 14/08/19)</li>
    </ul>

    <h2 class="govuk-heading-m">
      Phase 3
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/main/release3_e2e_v1/">Version 1</a> (tested 28/08/19)</li>
      <li><a href="/main/release3_e2e_v2/">Version 2</a> (tested 11/09/19)</li>
      <li><a href="/main/release3_e2e_v3/">Version 3</a> (tested 25/09/19)</li>


    </ul>

        <h2 class="govuk-heading-m">
      Phase 4
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/main/release4_e2e_v1/">Version 1)</a> (tested 09/10/19</li>
      <li><a href="/main/release4_e2e_v2/">Version 2)</a> (tested 23/10/19)</li>

    </ul>

    <h2 class="govuk-heading-m">
      Phase 5
    </h2>
    <ul class="govuk-list govuk-list--bullet">
    <li><a href="/main/release5_e2e_v1/">Version 1</a> (tested 6/11/19)</li>
    <li><a href="/main/release5_e2e_v2/">Version 2</a> (tested 20/11/19)</li>
    <li><a href="/main/release5_e2e_v3/">Version 3</a> (tested 04/12/19)</li>

      


    </ul>

  </div>








<div class="govuk-grid-column-one-half">

   <h2 class="govuk-heading-m">
      Continuous release
    </h2>
    <ul class="govuk-list govuk-list--bullet">
    <li><a href="/main/releaseX_e2e_v1/">Version 1</a> (tested 18/12/19)</li>
    <li><a href="/main/releaseX_e2e_v2/">Version 2</a> (tested 15/01/20)</li>
    <li><a href="/main/releaseX_e2e_v3/">Version 3</a> (tested X/XX/20)</li>


  </ul>


  <h2 class="govuk-heading-m">
    Exploration
  </h2>
  <h3 class="govuk-heading-s">
    Phase 2 training hub exploration
  </h3>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/main/training_exploration">Version 1</a></li>
  </ul>





  <h3 class="govuk-heading-s">
    Phase 2 eligibility exploration
  </h3>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/main/eligibility_exploration">Version 1</a></li>
  </ul>

    <h3 class="govuk-heading-s">
    Phase 4 new IA pages
  </h3>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/main/new_IA_exploration">Version 1</a></li>
  </ul>

</div>
</div>
{% endblock %}
