
{% extends "layout.html" %}

{% block pageTitle %}
  Get Help To Retrain
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<div class="govuk-width-container">
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="task_list.html">Home: Get help to retrain</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="training_hub">Survey</a>
      </li>
  </ol>
</div>

{% endblock %}

{% block content %}


      <form action="/form-handler" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <span class="govuk-caption-xl">Question 7 of 7</span>
                <h1 class="govuk-heading-l">
                How likely are you to pursue one of the potential occupations you’ve looked at?
                </h1>
              </legend>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="" name="question-7" type="radio" value="very-likely">
                  <label class="govuk-label govuk-radios__label" for="">
                    Very likely
                  </label> </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="" name="question-7" type="radio" value="relatively-likely">
                  <label class="govuk-label govuk-radios__label" for="">
                    Relatively likely
                  </label> </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="" name="question-7" type="radio" value="Neither-likely-or-unlikely">
                  <label class="govuk-label govuk-radios__label" for="">
                    Neither likely or unlikely
                  </label> </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="" name="question-7" type="radio" value="relatively-unlikely">
                  <label class="govuk-label govuk-radios__label" for="">
                    Relatively unlikely
                  </label> </div>


                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="" name="question-7" type="radio" value="very-unlikely">
                  <label class="govuk-label govuk-radios__label" for="">
                    Very unlikely
                  </label> </div>
              </div>

            </fieldset>
          </div>



      <div class="govuk-form-group">

            <label class="govuk-label" for="more-detail">
             Tell us more about your answer (optional)
            </label>
          <div class="govuk-character-count" data-module="character-count" data-maxlength="1500">
            <textarea class="govuk-textarea js-character-count " id="label-as-page-heading" name="label-as-page-heading" rows="5"></textarea>
          </div>

          <span id="label-as-page-heading-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
          You can enter up to 1500 characters
          </span>
      </div>


        </form>
                  <a href="survey_final_screen"><button type="submit" class="govuk-button">
            Continue
          </button></a>


</div>
</div>

      </div>

    </div>
  </div>



{% endblock %}
